---
description: >-
  Duplicating Test Runs lets you implement existing assessments for new Test
  Runs. This allows you to cover ground quickly without creating the same Test
  Cases for new Test Runs.
---

# Duplicating Test Run

<details>

<summary>Step 1: Duplicate an existing Test Run on a newly created Test Run</summary>

When creating a new Test Run, select "Duplicate test run" from the Actions menu in the bottom right.

</details>

<figure><img src="../../../../.gitbook/assets/893_Test runs - Create test run.png" alt=""><figcaption><p>Click the "Duplicate Test Run" button in the actions menu.</p></figcaption></figure>

<details>

<summary>Step 2: Select an existing Test Run to add to your new Test Run</summary>

On the duplicate Test Run screen, you will be shown ongoing Test Runs that you can add. Click on the desired Test Run and then click the duplicate button to finish. \
\
You can also click inside of an existing Test Run and select specific Test Cases to tailor the Test Run from the existing template and add that as your new duplicate instead.

</details>

<figure><img src="../../../../.gitbook/assets/894_Test runs - Create test run - Add test cases.png" alt=""><figcaption><p>Select an existing Test Run to duplicate.</p></figcaption></figure>

<figure><img src="../../../../.gitbook/assets/895_Test runs - Create test run - Add test cases - Selected.png" alt=""><figcaption><p>Tailor an existing Test Run with specific Test Cases to get your Test Run just right. </p></figcaption></figure>

When creating, adding, or duplicating a Test Run, if you want to go back and revert any changes you have made, the next page will show you how. Click "Next"&#x20;
