---
description: >-
  Reruns allow you to view their history of Test Case statuses. Below will show
  you the steps to view the history.
---

# Rerun History Of A Test Run

<details>

<summary>Step 1: Select a Rerun</summary>

In the test runs screen select a rerun from the table view.

</details>

<figure><img src="../../../.gitbook/assets/Test runs (1).png" alt=""><figcaption><p>Select a Rerun from your test runs Table View.</p></figcaption></figure>

<details>

<summary>Step 2: Open Rerun history</summary>

Click on the "Rerun history" button inside of the Test Run and a sidebar will appear on the left.\
\
You can view the information history of the Rerun here.

</details>

<figure><img src="../../../.gitbook/assets/Test runs - View test run (4).png" alt=""><figcaption><p>Inside of the Rerun, click on Rerun history to view past information.</p></figcaption></figure>

<figure><img src="../../../.gitbook/assets/Test runs - View test run-1 (2).png" alt=""><figcaption><p>The Rerun history is displayed on this screen.</p></figcaption></figure>

You can now view your Rerun history. On the upcoming page, we will go over how to navigate through all Test Cases in a Test Run. Click "Next"&#x20;
