---
description: >-
  When looking at the details of a test case within a test run, you have many
  options you can view or change, below is a summary of each:
---

# Understanding Test Case Detail Options Within A Test Run

<details>

<summary>Overview</summary>

Consists of two drop-down menus for status and priority, as well as fields for the creator, ID of the test case, The last update, folder location, any tags, defects, and the user assignment for the test case. Below are the options for the drop-down menus:

Status: Drop-down options include:

* Active (Blue)
* Incomplete (Yellow)
* Passed (Green)
* Failed (Red)&#x20;

Priority: Drop-down menus include:

* Low (Green)
* Medium (Yellow)
* High (Red)

</details>

<div><figure><img src="../../../../.gitbook/assets/Frame 2043685379.png" alt=""><figcaption><p>Status and Priority dropdown menus.</p></figcaption></figure> <figure><img src="../../../../.gitbook/assets/Test case details - Expanded-3.png" alt=""><figcaption><p>Expanded vew of the creator, ID, last update, folder, tag, and assignment sectons.</p></figcaption></figure></div>

<div><figure><img src="../../../../.gitbook/assets/Frame 2043685361.png" alt=""><figcaption><p>Expanded view of the description section.</p></figcaption></figure> <figure><img src="../../../../.gitbook/assets/Frame 2043685377.png" alt=""><figcaption><p>Expanded view of the comments section.</p></figcaption></figure> <figure><img src="../../../../.gitbook/assets/image 1.png" alt=""><figcaption><p>Example of Piñata integration within a test case.</p></figcaption></figure></div>

Next, we will view how to add Test Runs to Milestones & Test Plans. Click "Next"&#x20;
